<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.coddev.applu"
    android:versionCode="25"
    android:versionName="0.9.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pl.coddev.applu.p.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name=".p.ConfigureActivity" -->
        <!-- android:label="@string/app_name" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <receiver
            android:name="pl.coddev.applu.p.UninstallWidgetSBlack"
            android:label="Applu S black" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
             </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_s_theme_black" />
        </receiver>
        <receiver
            android:name="pl.coddev.applu.p.UninstallWidgetSWhite"
            android:label="Applu S white" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_s_theme_white" />
        </receiver>
        <receiver
            android:name="pl.coddev.applu.p.UninstallWidgetMBlack"
            android:label="Applu M black" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_m_theme_black" />
        </receiver>
        <receiver
            android:name="pl.coddev.applu.p.UninstallWidgetMWhite"
            android:label="Applu M white" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_m_theme_white" />
        </receiver>

        <receiver
            android:name="pl.coddev.applu.p.UninstallWidgetLBlack"
            android:label="Applu L black" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_l_theme_black" />
        </receiver>
        <receiver
            android:name="pl.coddev.applu.p.UninstallWidgetLWhite"
            android:label="Applu L white" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_l_theme_white" />
        </receiver>

        <receiver
            android:name="pl.coddev.applu.b.PackageModifiedReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7cdaf635e9fbea96124dd9433937e5ddf62ec678" />
    </application>

</manifest>
