<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.coddev.applu">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />


    <application
        android:name=".AppluApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.RateDialog"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />

        <!--        <receiver-->
        <!--            android:name=".p.UninstallWidgetSInsideBlack"-->
        <!--            android:label="Applu S Crazy black" >-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
        <!--            </intent-filter>-->

        <!--            <meta-data-->
        <!--                android:name="android.appwidget.provider"-->
        <!--                android:resource="@xml/widget_provider_s_inside_theme_black" />-->
        <!--        </receiver>-->
        <!--        <receiver-->
        <!--            android:name=".p.UninstallWidgetSInsideWhite"-->
        <!--            android:label="Applu S Crazy white" >-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
        <!--            </intent-filter>-->

        <!--            <meta-data-->
        <!--                android:name="android.appwidget.provider"-->
        <!--                android:resource="@xml/widget_provider_s_inside_theme_white" />-->
        <!--        </receiver>-->

        <receiver
            android:name=".ui.UninstallWidgetSRightBlack"
            android:label="Applu S Comfy black">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_s_right_theme_black" />
        </receiver>
        <receiver
            android:name=".ui.UninstallWidgetSRightWhite"
            android:label="Applu S Comfy white" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_s_right_theme_white" />
        </receiver>

        <receiver
            android:name=".ui.UninstallWidgetMRightBlack"
            android:label="Applu M black">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_m_right_theme_black" />
        </receiver>
        <receiver
            android:name=".ui.UninstallWidgetMRightWhite"
            android:label="Applu M white">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_m_right_theme_white" />
        </receiver>

        <receiver
            android:name=".broadcastreceiver.PackageModifiedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>


        <service
            android:name=".service.DataService"
            android:enabled="true"
            android:exported="false" >
        </service>

    </application>

</manifest>
