<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.coddev.applu" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:label="@string/app_name">
        <receiver
            android:name=".ui.UninstallWidgetLBlack"
            android:label="Applu L black">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_l_theme_black" />
        </receiver>
        <receiver
            android:name=".ui.UninstallWidgetLWhite"
            android:label="Applu L white" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_l_theme_white" />
        </receiver>
    </application>

</manifest>
